<!DOCTYPE html>
<html lang="pt-br">
<head>
   <% include('../partials/header') %>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
                <h2>Recuperar Senha</h2>
                <hr><br>

                <%if(success){%>
                    <div class="alert alert-success">

                        <%= success %>
                    </div>
                    <div class="text-center">
                        <h3>Agora pode fazer seu login</h3>
                    </div>
                <% } %>

               

                <%if(error){%>
                    <div class="alert alert-danger">

                        <%= error %>
                    </div>
                <% } %>

                <%if(!success){%>

                <p>Digite sua nova senha </p>
               
                
                <form action="/v1/api/usuarios/senha-recuperada" method="POST">
                    <div class="form-group">
                        <input
                        type="hidden"
                        name="token"
                        value= "<%= token %>"
                       >
                        <input
                        type="password"
                        name="password"
                        class="form-control"
                        placeholder="Digite sau nova senha">
                        
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Criar nova senha
                    </button>
                </form>
                <% } %>
                
            </div>
        </div>
    </div>
</body>
</html>